@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fingrid-brand-primary: #D5121E;
  --fingrid-dark-gray: #3E5660;
  --fingrid-medium-gray: #6D838F;
  --fingrid-gray: #D5DDE3;
  --fingrid-light-gray: #E9EEF2;
  /* action colors */
  --fingrid-dark-green: #277158;
  --fingrid-green: #4D9D88;
  --fingrid-pink: #E5B2BB;
  --fingrid-violet: #A15885;
  --fingrid-yellow: #F8F43F;
  --fingrid-blue: #A5D0E2;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fingrid-dark-gray);
  background-color: #F7FAFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  padding: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
